/** SHARED **/

:root{
    --green: rgba(183, 238, 99, 0.9);
    --violet: rgb(96, 92, 118); 
    --background:rgb(144, 140, 164);
    --orange:rgb(240, 167, 31);
}
*{
    margin: 0;
}
html, body {
    padding: 0;
    margin: 0;
  }
body{
    background-color: rgb(144, 140, 164);
}
h1{
    text-align: center;
}

/** HEADER **/
.headerContainer{
    width: 100%;
    display: flex;
    height: 150px;
    background-color: rgb(96, 92, 118);
}
.company{
    display: flex;
    align-items: center;
    flex: 2;
}
.logo{
    height: 100px;
    width: 150px;
    padding: 10px;
}

.socials{
    display: flex;
    flex-direction: column;
}
.handles{
    flex: 1;
}
.socialsImage{
    width: 50px;
    height: 50px;
}
.handles p{
    padding: 0 0 15px 10px;
}

/** MENU BAR **/
.menuContainer{
    width: 100%;
    height: 100px;
    background-color: rgb(96, 92, 118);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid rgb(0, 0, 0);
}
.menuContainer a{
    text-decoration: none;
}

.barElements{
    font-size: 30px;
    font-weight: 900;
    color: black;
    transition: color 0.3s ease-in-out, border-top 0.5s ease-in-out, border-bottom 0.5s ease-in-out; 
    border-top: 1px solid var(--violet);
    border-bottom :1px solid var(--violet);
}
.barElements:hover{
    color: white;
    border-top: 1px solid white;
    border-bottom :1px solid white;
    
}

/** SHARED **/
/** SHARED **/
/** SHARED **/
/** SHARED **/



/**INDEX PAGE*/
/** FORM **/
.formContainer{
    padding: 10px;
    border: 2px solid black;
    margin: 50px auto; /** space from the top **/
    max-width: 600px;
    background-color: white;
    height: 65px;
}

.formRows{
     display: flex;
     padding: 5px;
}
.formRows input{ /** can specify what element of formRows i guess **/
    flex: 1; 
}
.formRows label{
    padding-right: 10px;
}


/** BOXES **/
.boxesContainer{
    max-width: 1500px; /** use max-width if next needs to wrap**/
    margin: 50px auto;
   
    
}
.boxes{
    box-sizing: border-box;
    flex-basis: 30%; /** same as width**/
    padding: 10px;
}
.boxes:nth-child(1){background-color: rgb(240, 167, 31);}
.boxes:nth-child(2){background-color: var(--green);}
.boxes:nth-child(3){background-color: rgb(165, 70, 165);}

@media (min-width: 900px){
    .boxesContainer{
        display: flex;
        justify-content: space-between;
    }
}


/** PARAGRAPH **/ 
.paraContainer{
  max-width:1480px;
  background-color: white;  
  margin: auto;
  display: flex;
  padding: 10px;
}
.rightCol{
    flex:1;
    order: 3;
    padding: 10px;
}

.leftCol{
    flex:1;
    order:1;
    padding: 10px;
}
.middleCol{
    flex:2;
    order:2;
    padding: 10px;
}
.pictureContainer{
    margin: 50px auto;
    display: flex;
    max-width: 1460px;
    padding: 20px;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fixed-size-image{
    padding: 10px;
    width: 450px;
    height: 300px;
}

/* GRID PAGE */

.homes-grid-container{
    background-color: var(--violet);
 /*    grid-template-columns: repeat(4, 390px); */
    grid-template-columns: minmax(250px, 390px) minmax(250px, 390px) minmax(250px, 390px) minmax(250px, 390px);
    
    grid-gap: 15px;
    max-width: 1600px;
    display: grid;
    margin: auto;
    grid-template-areas: 
    "h1 h1 d1 d1"
    "h1 h1 b1 b1"
    "h2 h2 d2 d2"
    "h2 h2 b2 b2"
    "h3 h3 d3 d3"
    "h3 h3 b3 b3"
    "h4 h4 d4 d4"
    "h4 h4 b4 b4"
    "h5 h5 d5 d5"
    "h5 h5 b5 b5"
}
@media (max-width: 900px){/*  when below 950 px */

    
    .homes-grid-container{
        grid-template-columns: minmax(250px, 390px) minmax(250px, 390px);
        grid-template-areas: 
    "h1 h1"
    "h1 h1"
    "d1 d1"
    "b1 b1"
    "h2 h2"
    "h2 h2"
    "d2 d2"
    "b2 b2"
    "h3 h3"
    "h3 h3"
    "d3 d3"
    "b3 b3"
    "h4 h4"
    "h4 h4"
    "d4 d4"
    "b4 b4"
    "h5 h5"
    "h5 h5"
    "d5 d5"
    "b5 b5"
    
    }
    .menuContainer{
        flex-direction: column;
    }
}
.home-item{
    width: 100%;
    height: auto;
    margin: 10px;
    background-size: contain; /* maintains aspect ratio */
    outline: 3px solid black;
}
.home-1{
   grid-area: h1;
}
.home-2{
    grid-area:h2;
}
.home-3{
    grid-area:h3;
}
.home-4{
    grid-area:h4;
}
.home-5{
    grid-area:h5;
}


.d1{
    grid-area:d1;
    
}
.d2{
    grid-area:d2;
}
.d3{
    grid-area:d3;
}
.d4{
    grid-area:d4;
}
.d5{
    grid-area:d5;
}
.homes-grid-container p{
    margin-left: 15px;
    font-size: min(25px, 2.4vw);
    width: 75%;
    justify-self: center;
}


.b1{
    grid-area:b1;
}
.b2{
    grid-area:b2;
}

.b3{
    grid-area:b3;
}

.b4{
    grid-area:b4;
}

.b5{
    grid-area:b5;
}
.homes-grid-container button{
    width: clamp(300px, 1.5vw, 350px) ;
    height: clamp(75px, 1.5vw, 150px);
    justify-self: center;
    align-self: center;
    background-color: var(--violet);
    font-size: clamp(30px, 40px, 50px);
    font-family: monospace;
    font-weight: bold;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    border: 3px solid black;
}

.b1:hover{
    box-shadow: inset 0 0 0 2em var(--green);

}
.b2:hover{
    box-shadow: inset 400px 0 0 0 var(--green);

}
.b3:hover{
    box-shadow: inset 400px 0 0 0 var(--green), inset -400px 0 0 0 var(--green);

}
.b4:hover{
    box-shadow: inset 0px -150px 0 0px var(--green);

}
.b5:hover:hover{
    box-shadow: 0px 10px 10px 5px var(--green);
    transform: translateY(-10px);

}
