body{
    background-color: rgb(144, 140, 164);
}
.formContainer{
    padding: 10px;
    border: 2px solid black;
    margin: 50px auto; /** space from the top **/
    width: 600px;
    background-color: white;
    height: 65px;
}
.formRows{
     display: flex;
     padding: 5px;
}
.formRows input{ /** can specify what element of formRows i guess **/
    flex: 1; 
}
.formRows label{
    padding-right: 10px;
}
.boxesContainer{
    width: 1500px; /** use max-width if next needs to wrap**/
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    
}
.boxes{
    box-sizing: border-box;
    flex-basis: 30%; /** same as width**/
    padding: 10px;
}
.boxes:nth-child(1){background-color: rgb(240, 167, 31);}
.boxes:nth-child(2){background-color: rgba(172, 255, 47, 0.9);}
.boxes:nth-child(3){background-color: rgb(200, 19, 200);}

.paraContainer{
  width:1480px;
  background-color: white;  
  margin: auto;
  display: flex;
  padding: 10px;
}
.rightCol{
    flex:1;
    order: 3;
    padding: 10px;
}

.leftCol{
    flex:1;
    order:1;
    padding: 10px;
}
.middleCol{
    flex:2;
    order:2;
    padding: 10px;
}
.leftCol h1{
    text-align: center;
}
.rightCol h1{
    text-align: center;
}
.middleCol h1{
    text-align: center;
}